.root {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  position: relative;
  box-shadow: 0px 4px 16px 0px var(--token-g547xj6NPnU6);
  background: #ffffff;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
  border: 1px solid var(--token-g547xj6NPnU6);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.spinner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.spinnerprospect:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__h5H9A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xgnuD {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xgnuD {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.freeBox___4G684 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__nGK2 {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0px;
  z-index: 1;
  right: 0px;
  padding: 0px;
}
.freeBox__nGK2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nGK2 > :global(.__wab_flex-container) > *,
.freeBox__nGK2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nGK2 > :global(.__wab_flex-container) > picture > img,
.freeBox__nGK2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nGK2 {
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    position: relative;
  }
}
.link___039Km {
  display: flex;
}
.whatsappMessage:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg___5Suew {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sHpuW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AVWGsDrVoWFX);
  width: 30px;
  height: 30px;
}
.svg__n5EO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__dz0GE {
  display: flex;
}
.phone:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__wIk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bl2Ef {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 30px;
  height: 30px;
}
.svg__eJkFa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__cKg1C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__cKg1C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cKg1C > :global(.__wab_flex-container) > *,
.freeBox__cKg1C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cKg1C > :global(.__wab_flex-container) > picture > img,
.freeBox__cKg1C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__miyrv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___07Ogu {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__l7Fcy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__tOuS9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__mWqmB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__tjh1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__tulqc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__jo0Cs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___7KmE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___9HkR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___2Yjnx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vh3KX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ausvx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__qs4Wa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zc77C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bkw7X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__mRViM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__megUc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__cBs9R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__xnme5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__j4Zv8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__tPiB6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-bottom: 1px solid var(--token-g547xj6NPnU6);
}
.text___6FpE0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__frPn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bik1G {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__kOth7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__pjtT0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dataFetcher:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
.dataFetcherprospect:global(.__wab_instance) {
  display: flex;
}
.freeBox__iBgyA {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__iBgyA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__iBgyA > :global(.__wab_flex-container) > *,
.freeBox__iBgyA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iBgyA > :global(.__wab_flex-container) > picture > img,
.freeBox__iBgyA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.formSelect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-L2nP8swwp82X);
  height: 40px;
  display: none;
  border-radius: 8px;
}
.formSelectprospect:global(.__wab_instance) {
  display: flex;
}
.buttonContainer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sendMail:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-VGuF2xmnPXbh);
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
}
.sendMailprospect:global(.__wab_instance) {
  display: flex;
}
.text__bIqod {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 4px;
}
