.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-00C7h6eTgY1-);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-IFI2860ih6oj);
  font-family: var(--token-DdUa2RzjoTl0);
  font-size: var(--token-SNobX_u68CBr);
  line-height: var(--token-Ngvtb_Umke2V);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-fpG8RGEfdgQU);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-UNBPhooqWTkg);
  outline-offset: 1px;
  outline-color: var(--token-00C7h6eTgY1-);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-EWO2Gau5SlBQ);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-Mb0sGLL3Gon4);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-YJTuAzxMdjM4);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-iqHrqalID_E-);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-zRA86sImkNuU);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-8lp-tnZ6mq-j);
  font-size: var(--token-z88nZxEFLkQE);
  column-gap: var(--token-UNBPhooqWTkg);
  row-gap: 0px;
  border-radius: var(--token-tL6d7XFDAjJU);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-z88nZxEFLkQE);
  line-height: var(--token-8lp-tnZ6mq-j);
  column-gap: var(--token-tL6d7XFDAjJU);
  row-gap: 0px;
  border-radius: var(--token-tL6d7XFDAjJU);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-D2UGxGA_KMXV);
  line-height: var(--token-27LxypmS6oUM);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-D2UGxGA_KMXV);
  line-height: var(--token-27LxypmS6oUM);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-YImLLlVsTey_);
  border-radius: var(--token-fpG8RGEfdgQU);
}
.softBackgroundcolor_neutral {
  background: var(--token-e90EQEvok3Sj);
}
.softBackgroundcolor_muted {
  background: var(--token-qOP1tmdpUi-q);
}
.softBackgroundcolor_success {
  background: var(--token-2cT7HOWpGweS);
}
.softBackgroundcolor_warning {
  background: var(--token-hJAowb0OeSCl);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-D2ruGnhsQtdB);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-fpG8RGEfdgQU);
  border: 0px solid var(--token-R2vvwLyRECKF);
}
.bordercolor_neutral {
  border-color: var(--token-oj6c2vLjTW69);
}
.bordercolor_muted {
  border-color: var(--token-WY-AcY-eVbv4);
}
.bordercolor_success {
  border-color: var(--token-UEGrcS7SL-8v);
}
.bordercolor_warning {
  border-color: var(--token-rGz5SLOXhAta);
}
.bordercolor_errorDestructive {
  border-color: var(--token-AkjgatWcEdw9);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-fpG8RGEfdgQU);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Q9d8uO1TOsHM);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-Cmrtv7lLpEzA);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-tSRJLWjXZLzM);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__yaB9G {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-fpG8RGEfdgQU) var(--token-Yo65grBhNJ1u);
}
.freeBox__yaB9G > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-fpG8RGEfdgQU));
  width: calc(100% + var(--token-fpG8RGEfdgQU));
}
.freeBox__yaB9G > :global(.__wab_flex-container) > *,
.freeBox__yaB9G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yaB9G > :global(.__wab_flex-container) > picture > img,
.freeBox__yaB9G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fpG8RGEfdgQU);
}
.freeBoxsize_extraSmall__yaB9GG6IZc {
  padding: var(--token-tL6d7XFDAjJU) var(--token-fpG8RGEfdgQU);
}
.freeBoxsize_small__yaB9Gfk0Tg {
  padding: var(--token-fpG8RGEfdgQU) var(--token-IFI2860ih6oj);
}
.freeBoxsize_large__yaB9GGo0Mx {
  padding-top: var(--token-tL6d7XFDAjJU);
  padding-bottom: var(--token-tL6d7XFDAjJU);
}
.freeBoxsize_extraLarge__yaB9G3ORj {
  padding-left: var(--token-2cy-S_593RYv);
  padding-right: var(--token-2cy-S_593RYv);
}
.freeBoxroundedFull__yaB9GA0CmB {
  padding-right: var(--token-2cy-S_593RYv);
  padding-left: var(--token-2cy-S_593RYv);
}
.freeBox__hhcB {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__hhcBqllgj {
  display: flex;
}
.slotTargetStart {
  color: var(--token-MeCoK5Hy70Nv);
}
.slotTargetStartcolor_neutral {
  color: var(--token-BXoWfkvpQZTS);
}
.slotTargetStartcolor_muted {
  color: var(--token-Mt5-zG8ZwVwx);
}
.slotTargetStartcolor_success {
  color: var(--token-3ZifwmWudPgN);
}
.slotTargetStartcolor_warning {
  color: var(--token-TDXKfp4vdFfc);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-DutOwUIm5Ut9);
}
.slotTargetStarttype_soft {
  color: var(--token-eLuR4WJMP8Ok);
}
.slotTargetStarttype_bordered {
  color: var(--token-eLuR4WJMP8Ok);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-z88nZxEFLkQE);
}
.slotTargetStartsize_small {
  font-size: var(--token-z88nZxEFLkQE);
}
.slotTargetStartsize_large {
  font-size: var(--token-D2UGxGA_KMXV);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-D2UGxGA_KMXV);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-rg1-mOlgdynd);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-rg1-mOlgdynd);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-2MsCVcNIn8mP);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-2MsCVcNIn8mP);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-5G8NfggYF5XG);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-5G8NfggYF5XG);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-XsHPPRCiPIHx);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-XsHPPRCiPIHx);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-QvYqnF_DaM-p);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-QvYqnF_DaM-p);
}
.svg__zhD4O {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-MeCoK5Hy70Nv);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-BXoWfkvpQZTS);
}
.slotTargetLabelcolor_muted {
  color: var(--token-Mt5-zG8ZwVwx);
}
.slotTargetLabelcolor_success {
  color: var(--token-3ZifwmWudPgN);
}
.slotTargetLabelcolor_warning {
  color: var(--token-TDXKfp4vdFfc);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-DutOwUIm5Ut9);
}
.slotTargetLabeltype_soft {
  color: var(--token-eLuR4WJMP8Ok);
}
.slotTargetLabeltype_bordered {
  color: var(--token-eLuR4WJMP8Ok);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-rg1-mOlgdynd);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-2MsCVcNIn8mP);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-rg1-mOlgdynd);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-5G8NfggYF5XG);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-2MsCVcNIn8mP);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-XsHPPRCiPIHx);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-5G8NfggYF5XG);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-QvYqnF_DaM-p);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-XsHPPRCiPIHx);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-QvYqnF_DaM-p);
}
.text__kOzE7 {
  white-space: pre;
}
.freeBox__b0LH {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__b0LH0XM17 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-MeCoK5Hy70Nv);
}
.slotTargetEndcolor_neutral {
  color: var(--token-BXoWfkvpQZTS);
}
.slotTargetEndcolor_muted {
  color: var(--token-Mt5-zG8ZwVwx);
}
.slotTargetEndcolor_success {
  color: var(--token-3ZifwmWudPgN);
}
.slotTargetEndcolor_warning {
  color: var(--token-TDXKfp4vdFfc);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-DutOwUIm5Ut9);
}
.slotTargetEndtype_soft {
  color: var(--token-eLuR4WJMP8Ok);
}
.slotTargetEndtype_bordered {
  color: var(--token-eLuR4WJMP8Ok);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-z88nZxEFLkQE);
}
.slotTargetEndsize_small {
  font-size: var(--token-z88nZxEFLkQE);
}
.slotTargetEndsize_large {
  font-size: var(--token-D2UGxGA_KMXV);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-D2UGxGA_KMXV);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-rg1-mOlgdynd);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-rg1-mOlgdynd);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-2MsCVcNIn8mP);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-2MsCVcNIn8mP);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-5G8NfggYF5XG);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-5G8NfggYF5XG);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-XsHPPRCiPIHx);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-XsHPPRCiPIHx);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-QvYqnF_DaM-p);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-QvYqnF_DaM-p);
}
.svg__lZj6A {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
