.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 6px;
  padding: 20px;
  border: 1px solid #000000b3;
}
.freeBox__bL2S4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__uLl92 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
  margin: 5px 0px;
  border-bottom: 1px solid var(--token-g547xj6NPnU6);
}
.freeBox__uLl92 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__uLl92 > :global(.__wab_flex-container) > *,
.freeBox__uLl92 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uLl92 > :global(.__wab_flex-container) > picture > img,
.freeBox__uLl92
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.text__j9Br0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #101010;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 0em;
}
.text__icaId {
  position: relative;
  color: #f34f50;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0em;
}
.text__zqU7M {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0em;
}
