.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-o1pFRjjfqAp8);
  font-family: var(--token-DdUa2RzjoTl0);
  font-size: var(--token-SNobX_u68CBr);
  line-height: var(--token-Ngvtb_Umke2V);
  width: 100%;
  min-width: 0;
  column-gap: var(--token-IFI2860ih6oj);
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox___35AT5 {
  display: flex;
  position: relative;
  width: var(--token-PqYD176n32fe);
  height: var(--token-PqYD176n32fe);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-5Rq9QySOaZ_r);
}
.ariaRadio[data-selected] .freeBox___35AT5 {
  background: var(--token-00C7h6eTgY1-);
  border-color: var(--token-00C7h6eTgY1-);
}
.ariaRadio[data-focus-visible] .freeBox___35AT5 {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-00C7h6eTgY1-);
  outline-width: 2px;
}
.freeBox__zAf7V {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__zAf7V {
  width: var(--token-fpG8RGEfdgQU);
  height: var(--token-fpG8RGEfdgQU);
  flex-shrink: 0;
  display: block;
}
