.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-self: flex-start;
  background: #ffffff;
  width: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 0px 24px 24px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    overflow: auto;
  }
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__ibCvz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.inbox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .inbox:global(.__wab_instance) {
    overflow: auto;
  }
}
.enquiries:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.spinner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin: 16px auto auto;
}
.grid {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.grid > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  --plsmc-rc-col-gap: 0px;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.grid > :global(.__wab_flex-container) > *,
.grid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.grid > :global(.__wab_flex-container) > picture > img,
.grid > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 16px;
}
.grid > :global(.__wab_flex-container) > :nth-child(5n + 1) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.grid > :global(.__wab_flex-container) > :nth-child(5n + 2) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.grid > :global(.__wab_flex-container) > :nth-child(5n + 3) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.grid > :global(.__wab_flex-container) > :nth-child(5n + 4) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.grid > :global(.__wab_flex-container) > :nth-child(5n + 5) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .grid {
    width: 500px;
    height: auto;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .grid > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .grid > :global(.__wab_flex-container) > *,
  .grid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .grid > :global(.__wab_flex-container) > picture > img,
  .grid
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .grid > :global(.__wab_flex-container) > :nth-child(5n + 1) {
    width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .grid > :global(.__wab_flex-container) > :nth-child(5n + 2) {
    width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .grid > :global(.__wab_flex-container) > :nth-child(5n + 3) {
    width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .grid > :global(.__wab_flex-container) > :nth-child(5n + 4) {
    width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .grid > :global(.__wab_flex-container) > :nth-child(5n + 5) {
    width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
.column__ixnYm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ixnYm {
    width: 100%;
  }
}
.freeBox__rdj6Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text__lt5Oi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-AVWGsDrVoWFX);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__cjqgk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
  border-top: 1px solid var(--token-GF4iIwmUdYKG);
}
.text__uy7Lb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-AVWGsDrVoWFX);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__kl8Ja {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kl8Ja {
    width: 100%;
  }
}
.freeBox__lcbuh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text__yQLe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-AVWGsDrVoWFX);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__ot2Kt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
  border-top: 1px solid var(--token-GF4iIwmUdYKG);
}
.text__a41D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-AVWGsDrVoWFX);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__vkAnd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vkAnd {
    width: 100%;
  }
}
.freeBox__sd1Im {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text__rhCiU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-AVWGsDrVoWFX);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__bniOb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
  border-top: 1px solid var(--token-GF4iIwmUdYKG);
}
.text__rPoCn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-AVWGsDrVoWFX);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__ahWyn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ahWyn {
    width: 100%;
  }
}
.freeBox__z41Ub {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text__juE6I {
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-AVWGsDrVoWFX);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__z3QUh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
  border-top: 1px solid var(--token-GF4iIwmUdYKG);
}
.text__fDlN9 {
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-AVWGsDrVoWFX);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column___17SOf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___17SOf {
    width: 100%;
  }
}
.freeBox__ptN7S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text__bg2MJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-AVWGsDrVoWFX);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__vZx49 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
  border-top: 1px solid var(--token-GF4iIwmUdYKG);
}
.freeBox___3QdW {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___3QdW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___3QdW > :global(.__wab_flex-container) > *,
.freeBox___3QdW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3QdW > :global(.__wab_flex-container) > picture > img,
.freeBox___3QdW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__a5TSk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.enquiryButton:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.message:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 25px;
  height: 25px;
  padding: 1px 0px 0px 2px;
  border: 1px solid var(--token-0HG3WQChSB5M);
}
.svg__cX8Li {
  object-fit: cover;
  width: 80%;
  height: 80%;
  max-width: 100%;
}
.freeBox__lUkP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.message2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  padding: 1px 0px 0px 2px;
  border: 1px solid var(--token-0HG3WQChSB5M);
}
.svg__g4Z1 {
  object-fit: cover;
  width: 80%;
  height: 80%;
  max-width: 100%;
}
.pagination:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
}
.enquiry:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___5CydH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___5CydH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___5CydH > :global(.__wab_flex-container) > *,
.freeBox___5CydH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5CydH > :global(.__wab_flex-container) > picture > img,
.freeBox___5CydH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__vfeYn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mwHi6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mwHi6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mwHi6 > :global(.__wab_flex-container) > *,
.freeBox__mwHi6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mwHi6 > :global(.__wab_flex-container) > picture > img,
.freeBox__mwHi6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.back:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  min-width: 30px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  display: block;
  height: 100%;
  min-height: 0;
}
.svg__bnIfg {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__deNiN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: var(--token-AVWGsDrVoWFX);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.enquiryForm:global(.__wab_instance) {
  max-width: 100%;
}
